* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
}

.icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-style {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    background-size: 30px;
    text-decoration: none;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 12px;
    margin: 15px;
}

.icon-style:hover {
    background-color:  rgba(0, 255, 0, 0.5);
}

.icon-style i {
    font-size: 25px;
    align-items: center;
}


/*header*/

.header {
    background-image: url(pics/cell.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 550px;
    background-attachment: fixed;
    position: relative;
    border-top: 8px solid rgba(0, 255, 0, 0.5);
}

.header-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin-left: 50px;
}

.title {
    font-family: 'Pacifico', sans-serif;
    color: #fff;
    font-size: 45px;
}

.title span {
    color: rgba(0, 255, 0, 0.5);
    font-size: 40px;
}

.head-para {
    color: #fff;
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
    word-spacing: 2px;
    line-height: 1.5;
    padding-top: 20px;
}



/*We Do Section*/

.we-do {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 35px 55px 35px 55px;
    text-align: center;
}

.we-do i {
    background-color: rgba(0, 255, 0, 0.8);
    border-radius: 50%;
    border: 1x solid grey;
    padding: 10px; 
    color: #fff;
    font-size: 25px;
}

.body-text h2 {
    font-size: 15px;
    padding: 15px;
}

.we-do p {
    font-size: 12px;
}

.body-text {
   margin-right: 50px; 
}

/*middle section*/

.middle {
    background-color: #D3D3D3;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
}

.middle h2 {
    font-size: 17px;
    padding-bottom: 15px;
}

.middle p {
    font-size: 12px;
    padding-bottom: 10px;
    padding-right: 100px;
    line-height: 2;
}

.contact {
    padding: 50px 50px 100px 50px;
    margin-left: 75px;
}

.form {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 10px;
}

.button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.5);
    width: 100px;
    cursor: pointer;
    color: #fff;
}

video {
    margin-right: 150px;
    border: 5px solid #fdf9f9;
    margin-top: 50px;
    border-radius: 5px;
}

/*People section*/

.quote {
    padding: 40px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

.name {
    font-weight: bold;
    padding-top: 20px;
    font-size: 15px;
}

.images {
    display: flex;
    justify-content: center;
}

.small-img {
    padding-right: 3px;
    opacity: .5;
}

.small-img:hover {
    opacity: 1;
}

.say-hi {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 30px;
}

.say-hi h2 {
    font-size: 15px;
    text-transform: capitalize;
}

.say-hi p {
    font-size: 12px;
    padding-top: 15px;
}


/*Footer section*/

.footer-list {
    background-color: #D3D3D3;
    margin-top: 50px;
    font-size: 12px;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    
}

footer ul li {
    padding-right: 20px;
    font-family: 'Noto Sans', sans-serif;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}

footer ul li a:hover {
    color: green;
}
